@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

.header {
  height: 100px;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header:hover {
  opacity: 0.65;
}
.welcome-text {
  font-size: 3em;
  color: white;
}
.navigation span {
  color: #F8F8FF;

  font-size: 1.5em;
  font-weight: 900;
}
@keyframes spinAndZoom {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(720deg) scale(2);
  }

  100% {
    transform: rotate(720deg) scale(1);
  }
}
h1 {
  color: #F8F8FF;
  margin: 0;
  display: inline-block;
  transition: transform 0.3s ease;
}
h1:hover {
  animation: spinAndZoom 1s ease-in-out;
}
ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2em;
  margin: 0;
  padding-top: 10px;
}
li {
  list-style: none;
}
.socialMediaLinks img {
  height: 50px;
  width: 50px;
}
@media only screen and (max-width: 1240px) {
  .navigation span,
  p {
    font-size: 1em;
  }
  .socialMediaLinks img {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (max-width: 1024px) {
  .socialMediaLinks img {
    height: 36px;
    width: 36px;
  }
  .header p {
    display: none;
  }
  .header {
    margin: 0;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (max-width: 560px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}