.header {
  height: 100px;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header:hover {
  opacity: 0.65;
}
p {
  font-size: 3em;
  color: chocolate;
}
.navigation span {
  color: #F8F8FF;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
  font-weight: 900;
}

h1 {
  color: #F8F8FF;
  margin: 0;
}
ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2em;
  margin: 0;
  padding-top: 10px;
}

li {
  list-style: none;
}

.socialMediaLinks img {
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 1240px) {

  .navigation span,
  p {
    font-size: 1em;
  }

  .socialMediaLinks img {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .socialMediaLinks img {
    height: 36px;
    width: 36px;
  }

  .header p {
    display: none;
  }

  .header {
     margin: 0;
   /* margin-bottom: 0em;*/
    justify-content: space-betweenr;
    align-items: center;
  }
}

@media only screen and (max-width: 560px) {

  /* h1 { display: none;}*/
  .header {
    /* margin: 0 ;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}