
.card-style {
  display: flex;
  flex-wrap: wrap; /* Passe à la ligne si trop d'éléments */
  justify-content: center; /* Centre les cards */
  gap: 30px; /* Espacement entre les cards */
}

.card-container {
  display: flex;
  flex-direction: column; /* Titre en dessous de l’image */
  align-items: center; /* Centre l’image et le texte */
  text-align: center;
  width: 100px; /* Ajuste selon la taille souhaitée */
  height: 80px;
}

.card-container img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  padding: 10px;
  border-radius: 10px;
  background-color:#3D3C48 ;
}

.card-container span {
  margin-top: 8px;
  font-weight: 500;
  color:  #2784F5;
  font-size: 14px;
}
