#root {
  max-width: 1900px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: #2B2A33;
}

h2 {
  color: #AFAFAF;
  text-align: left;
  margin-left: 50px;
}
section {
  padding-top: 10px;
}