:root {
  font-family: sans-serif, Fruktur;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: inherit;
  padding: 0;
}
p {
  font-family: Fruktur;
}
a:hover {
  color: #535bf2;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.parallax {
  background-image: url("/jiji-cat.webp");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px 10px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
