:root {
  font-family: sans-serif, Fruktur;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: inherit;
  padding: 0;
}
p {
  font-family: Fruktur;
}
a:hover {
  color: #535bf2;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.parallax {
      background-image: url("/jiji-cat.webp");
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 5px 10px;
    }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/*
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #e9edf0;
    background-color: #ffffff;
    padding: 0;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/